.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #009200;
  padding: 10px 20px;
  color: #fff;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: #495057;
}

.navbar-title {
  font-size: 1.5rem;
}

.navbar-links {
  display: flex;
  gap: 10px;
}

.navbar-search {
  display: flex;
  align-items: center;
  gap: 5px;
}

.navbar-search input[type="text"] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.navbar-search button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navbar-search button:hover {
  background-color: #0056b3;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

.container {
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form p {
  width: 100%;
  max-width: 400px;
}

label {
  font-size: 1.1rem;
  color: #555;
}

button[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
