{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fukui's Recipe App</title>
    <link rel="stylesheet" href="{% static 'recipes/css/styles.css' %}" />
  </head>
  <body>
    <nav class="navbar">
      <a href="{% url 'recipes:recipe_list' %}" class="navbar-title"
        >Fukui's Recipe App</a
      >
      <div class="navbar-links">
        <a href="{% url 'recipes:recipe_list' %}">Home</a>
        <a href="{% url 'recipes:search' %}">Statistics</a>
        <a href="{% url 'recipes:add_recipe' %}">Add Recipe</a>
        <a href="{% url 'recipes:about_me' %}">About Me</a>
        <a href="{% url 'logout' %}">Logout</a>
      </div>
    </nav>
    <div class="container">
      <form method="get" action="{% url 'recipes:recipe_list' %}">
        <input type="text" name="q" placeholder="Search for recipes..." />
        <button type="submit">Search</button>
      </form>
      <div class="grid">
        {% for object in object_list %}
        <div class="card">
          <a href="{{ object.get_absolute_url }}">
            <img src="{{ object.pic.url }}" alt="{{ object.name }}" />
            <div class="card-content">
              <h5 class="card-title">{{ object.name }}</h5>
              <p class="card-text">
                Cooking time: {{ object.cooking_time }} mins
              </p>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
      {% if not object_list %}
      <p>No recipes found matching your search criteria.</p>
      {% endif %}
    </div>
  </body>
</html>
