{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Recipe App</title>
    <link rel="stylesheet" href="{% static 'recipes/css/welcome.css' %}" />
    <style>
      body {
        margin: 0;
        font-family: Arial, sans-serif;
        background: url("{% static 'recipes/images/produce image.jpg' %}")
          no-repeat center center fixed;
        background-size: cover; /* Cover the whole screen */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        position: relative;
        color: #fff;
      }
    </style>
  </head>
  <body>
    <div class="overlay"></div>
    <div class="welcome-container">
      <div class="welcome-content">
        <h1>Welcome to Fukui's Recipe App</h1>
        <br />
        <a href="{%url 'login' %}"> Login </a>
      </div>
    </div>
  </body>
</html>
